/* Element Selectors */

html, body {
    height: 100%;
    margin: 0;
    background-color: #fff;
}

header {
    width: 100%;
    text-align: center;
}

figure {
    background: #f2f2f2 url("https://assets.codepen.io/6060109/athlete-girl.png") no-repeat center;
    background-size: cover;
}

/* ID Selectors */

#adidas-logo {
    padding-top: 18px;
}

#athlete {
    background: #f2f2f2 url("https://assets.codepen.io/6060109/athlete-girl.png") no-repeat center;
    background-size: cover;
    height: 100px;
}